@import "../../styles/global.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem;
    background-color: $secondary-background-color; 
    width: 100%;
    height: 10vh;
    @include tablet {
        padding: 3rem 1rem;
    }

    &__logo {
        display: flex;
        &-img {
            width: 4.5rem;
            @include tablet {
                width: 5rem;
            }
        }
    }
    &__lines {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &:hover {
            opacity: 80%;
        }

        &-line {
            width: 25px;
            height: 2px;
            background-color: $primary-text-color;
            margin: 4px 0;
        }

        @include tablet {
            display: none;
        }
    }

    &__nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        background-color: $white;
        transition: right 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        z-index: 1;

        @include tablet {
            position: static;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: $secondary-background-color;
        }
        &.open {
            right: 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 32px;
            list-style-type: none;
            padding: 1.5rem 0rem;

            li {
                display: inline;
                transition: opacity 0.3s ease;


                a {
                    text-decoration: none;
                    color: $primary-text-color;
                }
                &:hover {
                    opacity: 80%;
                    text-decoration: underline;
                }
            }

            @include tablet {
                flex-direction: row;
                gap: 1.5rem;
            }
        }

        &-icon {
            display: flex;
            flex-direction: row;
            justify-content: flex-end ;
            width: 100%;
            &-close svg {
                @include tablet {
                    display: none;
                }
                &:hover {
                    opacity: 80%;
                }
            }
        }

        &-resume {
            all: unset;
            border: 1px solid $primary-text-color;
            border-radius: .5rem;
            color: $primary-text-color;
            cursor: pointer;
            transition: background-color 0.3s ease;
            padding: .5rem 1rem;

            &:hover {
                border-color: #3361e1;
                background-color: #3361e1;
                color:$white;
            }

            @include tablet {
                margin-left: 20px;
            }
        }
    }
}