@import "../../styles/global.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: $secondary-background-color;
    padding: 17rem 3rem 1rem 3rem;
    height: auto;
    position: relative;
    z-index: 1;
    @media (min-width:330px){
        padding-top: 16rem
    }
    @media (min-width:355px){
        padding-top: 15rem
    }
    @media (min-width:445px){
        padding-top: 14rem
    }    
    @media (min-width:610px){
        padding-top: 13rem
    }
    @include tablet{
        padding-top: 12rem;
    }
    @include desktop{
        padding-top: 11rem;
    }

    &__logo {
        display: flex;
        justify-content: center;
        cursor: pointer;

        &-img {
            width: 4.5rem;

            @include tablet {
                width: 5rem;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        border-bottom: $primary-border-color solid .0625rem;
        width: 100%;
        @include tablet{
            gap: 1.5rem;
            padding-bottom: 1.5rem;
        }

        &-link {
            cursor: pointer;
            &-img {
                width: 1.875rem;
                @include tablet{
                    width: 2.5rem;
                }
            }
        }
    }
    &__copyRight{
        color: #5C667E;
    }

}